extends layout

block content
  - var title = "Home"

block content
  h2.text-center Express App
  
  .row
    .offset-sm-w.col-sm-8
      .jumbotron.text-center
        Welcome to your new Express App! Please visit the
          #[a(href="https://github.com/rdegges/okta-express-login-portal", title="okkta-express-login-portal on GitHub") GitHub page] to learn more.